body {
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #8d1212, #000000);
}

.container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 500px;
    width: 100%;
}

.form h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form label {
    display: block;
    margin: 10px 0;
}

.form input[type="checkbox"] {
    margin-right: 2vh;
}

.form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to right, #dc3636, #182031);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
    width: 30vh;
    transform: scale(1.1);
}

.form button:hover {
    background: linear-gradient(to right, #182031, #dc3636);
    transform: scale(1.1);


}

.form a {
    color: #5B86E5;
    text-decoration: none;
}

.form a:hover {
    text-decoration: underline;
}

.volver{

    margin-left: -60vh;
    text-decoration: none;
}

